*{
    margin: 0; padding: 0; box-sizing:border-box; font-family: Roboto;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* TIPOGRAFIAS */
/* .roboto{
font-family:
}
.mono{

} */
header{
    height: 80px;
    width: 80%;
    background-color: blue;
    background-image: linear-gradient();
    margin: auto;
    color:white;
    padding: 0 10% 0 10%;
    line-height: 80px;

}
footer{
    position: static;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: blanchedalmond;
    padding: 0 10% 0 10%;
    text-transform: capitalize;
    text-align: center;
    line-height: 60px;
}
.contenedor{

    width: 80%;
    margin: auto;
    background-color: darkgoldenrod;
    background-image: -o-linear-gradient();
    padding: 20px;
   
}
.flex{
    display: flex;
}
.sp{
    justify-content: space-around;
}
.separador{
    justify-content: space-between;
}
.fila{
    width: 100%;
    margin-bottom: 10px;

}
.fila .tarjeta{
    height: 450px;
    width: 30%;
    border-radius: 14px;
    background-color: black;
    color: aliceblue;
    padding: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.tarjeta .img{
    width: 100%;
    height: 180px;
    background-color: aliceblue;
    margin-bottom: 14px;
}
.tarjeta .boton{
    height: 40px;
    padding: 10px 40px;
    line-height: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    

}
.tarjeta .boton:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgb(151, 145, 133);

}
.tarjeta .parrafo{
    line-height: 18pt;
    margin-top: 10px;
    color:white;
}

.tarjeta .titulo{
    color:wheat;
    font-size: 18px;


}